<% if user_signed_in? %>
  <% if current_user.liked?(@item) %>
    <%= button_to 'Unlike', item_like_path(@item), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= button_to 'Like', item_likes_path(@item), class: 'btn btn-primary' %>
  <% end %>
<% end %>
<p><%= @item.likes.count %> likes</p>
