<h1><%= @category.name %></h1>

<h2>Collections</h2>
<ul>
    <% @category.collections.each do |collection| %>
        <li><%= link_to collection.name, collection_path(collection) %></li>
    <% end %>
</ul>